body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px 20px 1fr;
}
#mapid {
grid-column: 1;
grid-row: 1;
}

#enigmes {
  grid-column: 2;
  grid-row: 1;
  background-image: url(../img/fond.jpg);
  background-position: center;
  background-size: cover;
  font-family: Papyrus;
  padding: 10px;

}

#coords {
  grid-row: 2;
  grid-column: 1 / span 2;
  left : 140px;
}

#inventaire {
  grid-row: 3;
  grid-column: 1;
}

#enigme1 {
  top: 10px;
  position: absolute;
}

#enigme2 {
  top: 10px;
  position: absolute;
}

#question2{
  top: 10px;
  position: absolute;
}

#enigme3 {
  top: 10px;
  position: absolute;
}

#enigme4 {
  top: 10px;
  position: absolute;
}

#enigme5 {
  top: 10px;
  position: absolute;
}

#enigme6 {
  top: 10px;
  position: absolute;
}

#enigme7 {
  top: 10px;
  position: absolute;
}

#reussite{
  top: 10px;
  position: absolute;
}

#echec{
  top: 10px;
  position: absolute;
}

.objet {
  background-color: grey;
  width: 60px;
  height: 60px;
  border: solid 2px black;
  margin: 2px;
  text-align: center;
}
#objets {
  display: flex;
  flex-direction: row;
}

#myButton {
    padding: 5px 10px;
    color: #eee;
    border-radius: 4px;
    background-color: #3FA3FF;
    box-shadow: 0 1px 0 rgba(255,255,255,.1),
                0 0 1px 1px rgba(255,255,255,.3) inset,
                0 1px rgba(255,255,255,.4) inset;
    border: 1px solid black;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    outline:none;

}
#myButton:hover,
#myButton:focus {
    color: white;
    background-color: #3FA3FF;
    box-shadow: 0 1px 0 rgba(255,255,255,.1),
                0 0 1px 1px rgba(255,255,255,.3) inset,
                0 1px rgba(255,255,255,.4) inset,
                0 0 5px rgba(174,58,235,1);
    border-color: rgba(255, 255, 255, .2);
}

#myButton:active {
    background-color: #3FA3FF;
    box-shadow: 0 1px 2px rgba(0,0,0,.6) inset,
                0 1px 0 rgba(255,255,255,.3);
    border: 1px solid black;
}
#bouton {
  display: flex;
  justify-content: center;
}

.chronometre{
  grid-row: 3;
  grid-column: 2;
}

.tim{
  margin: auto;
  width: 300px;
  border: 1px solid rgba(0,0,0,0.5);
  padding:5px 0;
  text-align: center;
  font-size: 1.5em;
  font-family: digital;
  margin-bottom: 10px;


}
