#myButton {
    padding: 5px 10px;
    color: #eee;
    border-radius: 4px;
    background-color: #3FA3FF;
    box-shadow: 0 1px 0 rgba(255,255,255,.1),
                0 0 1px 1px rgba(255,255,255,.3) inset,
                0 1px rgba(255,255,255,.4) inset;
    border: 1px solid black;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    outline:none;

}
#myButton:hover,
#myButton:focus {
    color: white;
    background-color: #3FA3FF;
    box-shadow: 0 1px 0 rgba(255,255,255,.1),
                0 0 1px 1px rgba(255,255,255,.3) inset,
                0 1px rgba(255,255,255,.4) inset,
                0 0 5px rgba(174,58,235,1);
    border-color: rgba(255, 255, 255, .2);
}

#myButton:active {
    background-color: #3FA3FF;
    box-shadow: 0 1px 2px rgba(0,0,0,.6) inset,
                0 1px 0 rgba(255,255,255,.3);
    border: 1px solid black;
}
#bouton {
  display: flex;
  justify-content: center;
}
#contexte {
  position: absolute;
  top: 30%;
  left: 20%;
  right: 20%;
  background-color: rgba(255,255,255, 0.6);
  padding: 10px;
  border-radius: 10px;
}

#body {
  background-image: url(../img/accueil.jpg);
}
