body {
  background-image: url(../img/accueil.jpg);
}

.erreur{
  background: red
}

#formulaire{
  position: absolute;
  top: 30%;
  left: 35%;
  right: 35%;
  background-color: rgba(255,255,255, 0.6);
  padding: 10px;
  border-radius: 10px;
}

#classement{
  position: absolute;
  top: 30%;
  left: 35%;
  right: 35%;
  background-color: rgba(255,255,255, 0.6);
  padding: 10px;
  border-radius: 10px;
}

hr {
  border-top: 1px dashed;
}
